:root {
  --primary-color: grey;
  --secondary-color: lightgrey;
  --heading-font-family: "Inter", serif;
  --default-font-family: neue-haas-grotesk-display, sans-serif;
}

body {
  margin: 60 auto;
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 200;
  font-size: 98px;
  text-transform: uppercase;
  line-height: 0.9;
}
p {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero {
  color: black;
  padding: 160px 0;
}

.hero h3 {
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
}

.btn-branding {
  border: 1px solid black;
  font-size: 18px;
  font-family: var(--heading-font-family);
  font-weight: 200;
  margin-top: 100px;
}
